<!-- <?xml version="1.0" encoding="utf-8"?> -->
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Mining Mayhem Field">
  <link
    name="map">
    <inertial>
      <origin
        xyz="2.5 3.5 0.0"
        rpy="0 0 0" />
      <mass
        value="136.986211515906" />
      <inertia
        ixx="11.32784079678"
        ixy="0.0790673529293621"
        ixz="-3.31934569286533E-05"
        iyy="39.5943066012651"
        iyz="2.22051872470363E-05"
        izz="30.175174964611" />
    </inertial>
    <visual>
      <origin
        xyz="2.5 3.5 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gazebo_tools/meshes/stage/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://gazebo_tools/meshes/stage/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- Joint to link world_link to odom -->
  <joint name="world_to_odom" type="fixed">
    <parent link="map"/>
    <child link="odom"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  
</robot>